<% dishes.each do |dish| %>
  <div class="sidefoodcards d-flex my-4 flex-grow">

    <%# dish image + review & bookmark icons %>

    <div class="sidefood-image">
      <img src=<%= dish.image %> alt="" id="image">
      <div class="bookmark mt-2">
        <%= render 'shared/bookmark_review_icons', dish: dish %>
      </div>
    </div>

    <%# div holds everything else APART from picture %>
    <%# pl-2 py-4 pr-4 %>
    <div class="sidefood-content" style="flex-grow:inherit">
      <%# <div class="d-flex justify-content-between"> %>
      <%# </div> %>

      <%# holds top pick, dish name, rank %>
      <div class='d-flex justify-content-between align-items-center'>
        <%# div holding top pick & name of dish %>
        <div>
          <%# rank %>
          <div class="rank-text"> <%# my-1 %>
            <span>👑 Top Pick</span>
          </div>
          <%# stall name %>

          <%# name of dish %>
          <%= link_to dish, style:"text-decoration:none;color:black;" do %>
            <span class="text-justify" style="font-size:20px;margin-left:5px;">
            <strong><%= dish.dish_type.strip rescue "Goreng Pisang Ala Carte" %></strong>
            </span>
          <% end %>
        </div>
        <%# rank %>
        <div>
          <div class='d-flex align-items-center rank-medal-featured'>
            <% if [1 , 2, 3, 4].include? dish.rank %>
              <% case dish.rank %>
              <% when 1 %>
                <%= image_tag "gold_medal.jpg"%>
              <% when 2 %>
                <%= image_tag "silver_medal.jpg"%>
              <% when 3 %>
                <%= image_tag "bronze_medal.jpg"%>
              <% when 4 %>
                <%= image_tag "fourth_place.png"%>
              <% end %>
            <% else %>
              <h3 class='m-0'> <%= dish.rank %> </h3>
            <% end %>
          </div>
        </div>

      </div>

      <%# div holding flavours and stars %>
      <div class='d-flex justify-content-between align-items-center flex-wrap'>
        <div style="list-style-type: none" class="d-flex flex-row justify-content-left">
  <div style="list-style-type: none" class="mx-auto d-flex gap-3">
      <% dish.top_3_reviewed_flavors.each do |flavor, score| %>
        <%= link_to "/?query=#{flavor}",style:"text-decoration:none" do  %>
          <span class="pink-badge">
            <%= flavor %>
              <span class="number-badge">
                <%= score %>
                <span class="visually-hidden">reviews</span>
              </span>
          </span>
        <% end %>
      <% end %>
  </div>

        </div>
        <div class="stars-rank p-1">
          <% sum = 0 %>
          <% dish.reviews.to_a.each {|review| sum += review.rating} %>
          <% avg_rating = sum/dish.reviews.length rescue 3%>
          <% (1..avg_rating).step(1).each do %>
                <%= fa_icon("star solid",style:"color:gold") %>
              <% end %>
        </div>
      </div>

      <%# dish description %>
      <div class="text-justify">
        <p class="my-2" style="margin-left:5px;font-size:12px;">
          <%= Review.where(dish: dish)[0].comment[0..500] rescue "#burpple #6splus #food #foodporn #yum #instafood #yummy #amazing #instagood #photooftheday #sweet #dinner #lunch #breakfast #fresh #tasty #foodie #delish #delicious #eating #foodpic #foodpics #eat #hungry #foodgasm #hot #foods" %>
        </p>
      </div>
    </div>

  </div>
<% end %>
