<div class="featured-dish-card bg-white py-3 px-4 mt-4">
      <p id="stalltitle" class='m-0'><%= dish.stall.name %></p>
  <div class='d-flex justify-content-between'>
    <%# stall + dish name %>

      <%# review count + bookmark icon %>
      <div class='d-flex align-self-center'>
        <%= link_to dish, style:"text-decoration:none;color:black;" do %>
          <span>
            <strong><%= dish.dish_type.strip rescue "Delicious Dish!" %></strong>
          </span>
        <% end %>
        <div class="featured-bookmark px-1">
          <%= render 'shared/bookmark_review_icons', dish: dish %>
        </div>
      </div>

    <div class='d-flex align-items-center rank-medal-featured'>
      <% case dish.rank %>
      <% when 1 %>
        <%= image_tag "gold_medal.jpg"%>
      <% when 2 %>
        <%= image_tag "silver_medal.jpg"%>
      <% when 3 %>
        <%= image_tag "bronze_medal.jpg"%>
      <% when 4 %>
        <%= image_tag "fourth_place.png"%>
      <% end %>
    </div>
  </div>


  <%# div holding image, flavours, description  %>
  <div class="d-flex flex-column justify-content-center">
    <div class="featured-dish-image">
      <% if dish.photo.attached? %>
        <%= cl_image_tag dish.photo.key%>
      <% elsif dish.image.present? %>
        <img src="<%= dish.image %>" alt="" class="mx-auto" id="homepagetop1">
      <% else %>
        <img src="<%= "https://asianinspirations.com.au/wp-content/uploads/2019/11/R1018-PisangGoreng-new-619x412.jpg" %>" alt="" class="mx-auto" id="homepagetop1">
      <% end %>
    </div>
    <%# flavours + stars %>
    <div style="list-style-type: none" class="d-flex flex-column justify-content-between flex-wrap mt-2">
      <%#= render 'shared/dish_flavour_calc.html.erb', dish: dish %>
      <div class="d-flex flex-row gap-3 align-self-center py-1">
      <% dish.top_3_reviewed_flavors.each do |flavor, score| %>
          <%= link_to "/?query=#{flavor}",style:"text-decoration:none" do  %>
            <span class="pink-badge">
              <%= flavor %>
                <span class="number-badge">
                  <%= score %>
                  <span class="visually-hidden">reviews</span>
                </span>
            </span>
        <% end %>
        <% end %>
      </div>
      <div class="d-flex align-self-center">
        <div class="stars-rank p-1">
          <% (1..dish.score).step(1).each do %>
            <%= fa_icon("star solid",style:"color:gold") %>
          <% end %>
        </div>
        <p class='m-0' style="align-self:center">(<%= dish.score.round(2) %>)</p>
      </div>
    </div>

    <%# description %>
    <p id="foodwriteuptext" class="text-justify" style="font-size:12px">
      <%= dish.description %>
    </p>
  </div>

</div>
