<div data-controller="search-food">
  <%= render 'shared/main_banner' %>

  <div class="container">
    <div class="row">
      <div class="col-12 mx-auto">
         <div class="stall-show-grid-container <%= params[:query].present? ? "d-none" : "" %>" data-search-food-target="topgrid" data-controller="reviewmodal">
            <%# individual dish %>
            <div class="div1">
              <%= render 'shared/card_individual_dish', dish: @dish %>
            </div>


            <%# dishes ranked 2 - 4 %>
            <div class="div2">
              <%= render 'shared/review_card_long', dish: @dish %>
              <div data-reviewmodal-target="form" class="d-none ">
              <div class="sidefoodcards d-flex my-4 flex-grow" >
              <%= render "reviewform" %>
              </div>
              </div>
            </div>

      </div>

    </div>
  </div>
</div>
