

<% if params[:query].present? %>
  <div class="stall-show-grid-container d-none" data-search-food-target="topgrid">
<% else %>
  <div class="stall-show-grid-container" data-search-food-target="topgrid">
<% end %>
  <div class="div1">
        <div class="featured-dish-card bg-white p-2 mt-4">
        <p id="stalltitle" style="margin-left:5%;"><%= @topstalls.first.name %></p>
        <%= link_to @topdish, style:"text-decoration:none;color:black;" do %>
        <h5 id="foodtitle">
        👑
        <strong><%= @topdish.name[0..40].strip rescue "Delicious Dish!" %></strong>
        </h5>
        <% end %>
        <div class="d-flex flex-column justify-content-center">
          <img src="<%= @topdish.description rescue "https://asianinspirations.com.au/wp-content/uploads/2019/11/R1018-PisangGoreng-new-619x412.jpg" %>" alt="" class="p-1 mx-auto" id="homepagetop1">
        <div style="list-style-type: none" class="d-flex flex-row justify-content-around flex-wrap px-5">
                <span class="px-1 mx-1 btn pink-button">flavour</span>
                <span class="px-1 mx-1 btn pink-button">flavour</span>
                <span class="px-1 mx-1 btn pink-button">flavour</span>
               <div class="featured-bookmark mt-2"> <%= render 'shared/bookmark_review_icons', dish: @topdish %>
               </div>
        </div>
        <p id="foodwriteuptext" class="text-justify">
        <%= Review.where(dish: @topdish)[0].comment[0..300] rescue "The chilli sauce added a slight tinge of sweet and sour to the otherwise bland roasted meat. On the whole, the portion was generous and really reasonable for the affordable price of $3!!! #burpple #stfoodtrending #8dayseat #cbdeats #igsg #sgfoodie #whati8today #onthetable #thelocal5everpiggie #hawkercentresarebae #charsiew #hollanddrive #cheaponana #BurppleCheapNGood"%>
        </p>
      </div>
    </div>

  </div>

  <div class="div2">
<<<<<<< HEAD
    <%= render 'shared/long_card', dishes: @topdishes %>
=======

    <% @topdishes.each do |dish| %>
      <%# sidefoodcards -> holds one div for image, one div for everything else %>
      <div class="sidefoodcards d-flex my-4 flex-grow">
          <%# image %>
          <div class="sidefood-image">
                <img src=<%= dish.description rescue "https://asianinspirations.com.au/wp-content/uploads/2019/11/R1018-PisangGoreng-new-619x412.jpg" %> alt="" id="image">
          </div>

          <%# sidefood-content = everything except for the image %>

          <div class="sidefood-content pl-2 py-4 pr-4" style="flex-grow:inherit">


            <%# <div class="sidefood-header d-flex flex-row justify-content-between"> %>

              <%# div holding ranking, name, icons %>
              <%# <div class="rank"> %>
                <div class="d-flex justify-content-between" style="margin-left:5px">

                  <%# ranking %>
                  <div class="rank-text">
                    <span>Rank</span>
                  </div>

                  <%# name of dish %>
                  <div>
                    <span class="text-justify" style="font-size:20px;margin-left:5px">
                    <strong><%= dish.name[0..30].strip rescue "Goreng Pisang Ala Carte" %></strong>
                    </span>
                  </div>

                  <%# bookmark & review %>
                  <div class="bookmark">
                    <%= render 'shared/bookmark_review_icons', dish: dish %>
                  </div>
                <%# </div> %>
              </div>



              <%# div holding flavours + stars %>
              <div class="flavour-stars-bookmark-review d-flex align-items-center justify-content-between">

                <%# flavours %>
                <div style="list-style-type: none" class="d-flex flex-row justify-content-left">
                  <span class="px-1 mx-1 btn pink-button" style="border-radius:20px;font-size:12px;">flavour</span>
                  <span class="px-1 mx-1 btn pink-button" style="border-radius:20px;font-size:12px;">flavour</span>
                  <span class="px-1 mx-1 btn pink-button" style="border-radius:20px;font-size:12px;">flavour</span>
                </div>

                <%# stars %>
                <div class="stars-rank">
                  <i class="fa-light fa-star"></i>
                  <i class="fa-light fa-star"></i>
                  <i class="fa-light fa-star"></i>
                  <i class="fa-light fa-star"></i>
                  <i class="fa-light fa-star"></i>
                </div>
              </div>

              <%# div of description %>
              <div class="description">
                <p class="my-2 text-justify" style="margin-left:5px;font-size:15px;">
                  <%= Review.where(dish: dish)[0].comment[0..200] rescue "#burpple #6splus #food #foodporn #yum #instafood #yummy #amazing #instagood #photooftheday #sweet #dinner #lunch #breakfast #fresh #tasty #foodie #delish #delicious #eating #foodpic #foodpics #eat" %>
                </p>
              </div>

          </div>

      </div>
    <% end %>

>>>>>>> a63f61ab06929f845c8da7fe07bfb9d50ca54af9
  </div>
</div>
