<%= render '/shared/stall_banner' %>

<div class="stall-show-grid-container">
  <div class="div1">
    <div class="stall-write-up mb-3 bg-light">
      <h2 id="stalltitle">About your stall</h2>
      <p id="writeuptext">Summary of your Stall</p>
      <%= link_to "Edit", @stall,class:"btn btn-dark px-3",style:"border-radius:20px;margin-left:80%;margin-bottom:10px" %>
      <ul style="list-style-type:none">
        <li> <%= link_to 'Delete stall', @stall, method: :delete, data: { confirm: 'Are you sure?' } %></li>
        <li><%= link_to "Add new dishes", new_dish_path(@stall) %></li>
      </ul>

    </div>

    <% if @dishes.count > 0 %>
      <div class="featured-dish-card bg-light">
        <h3 id="foodtitle"><%= @dishes.first.name %></h3>
        <div class="d-flex flex-column justify-content-center">
          <img src="<%= @dishes.first.description  %>" alt="" class="p-1 mx-auto" id="main-image">
          <div style="list-style-type: none" class="d-flex flex-row flex-grow justify-content-around">
            <p class="px-3 btn btn-success" style="border-radius:20px">flavour</p>
            <p class="px-3 btn btn-success" style="border-radius:20px">flavour</p>
            <p class="px-3 btn btn-success" style="border-radius:20px">flavour</p>
          </div>
          <p id="foodwriteuptext" class="text-justify">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi labore sed doloribus ab? Reiciendis odit sunt, voluptatibus veritatis molestiae suscipit est aspernatur, nulla, possimus odio ipsum nobis quia quasi commodi.</p>
        </div>
      </div>
    <% end %>
  </div>


  <div class="div2">
    <%= render '/shared/dish_show_cards' %>
  </div>
</div>
