<%= render 'stalls/show/stall_banner' %>
<div class="container">
  <div class="row">
    <div class="col-12 mx-auto">
      <div class="stall-show-grid-container">
        <div class="div1">

        <%# zack work on this %>
        <%# the new-dish-path routes are not even up %>
        <% if 1==0 %>
            <div class="stall-write-up mb-3 bg-light">
            <h2 id="stalltitle">About your stall</h2>
            <p id="writeuptext">Summary of your Stall</p>
            <%= link_to "Edit", @stall,class:"btn btn-dark px-3",style:"border-radius:20px;margin-left:80%;margin-bottom:10px" %>
            <ul style="list-style-type:none">
              <li> <%= link_to 'Delete stall', @stall, method: :delete, data: { confirm: 'Are you sure?' } %></li>
              <li><%= link_to "Add new dishes", new_dish_path(@stall) %></li>
            </ul>
          </div>
        <% end %>
        <%# end of comment %>

          <%= render 'stalls/show/write_up' %>
        </div>


        <div class="div2">
          <%= render 'stalls/show/card_long' %>
        </div>
      </div>
    </div>
  </div>
</div>
