<%= render 'stalls/show/stall_banner' %>
<div class="container">
  <div class="row">
    <div class="col-12 mx-auto">
      <div class="stall-show-grid-container">
        <div class="div1">

        <%# zack work on this %>
        <%# the new-dish-path routes are not even up %>
        <% if 1==1 %>
            <div class="stall-write-up mb-3 bg-light p-4">
            <h2>About your stall</h2>
            <div class="pb-2"><%=@stall.description%></div>
            <div>
              <%= link_to "Edit", @stall,class:"blue-button-small",style:"border-radius:20px;" %>
              <%= link_to "Add new dishes", new_dish_path(@stall), class:"blue-button-small",style:"border-radius:20px;" %>
              <%= link_to 'Delete stall', @stall, method: :delete, data: { confirm: 'Are you sure?' }, class:"blue-button-small",style:"border-radius:20px;" %>
            </div>

          </div>
        <% end %>
        <%# end of comment %>

          <%= render 'stalls/show/write_up' %>
        </div>


        <div class="div2">
          <%= render 'stalls/show/card_long' %>
        </div>
      </div>
    </div>
  </div>
</div>
