<div class='overall'>
  <p><%= stall.name %> is</p>
  <h2> <%= stall.rank_in_hawkercenter %> </h2>
  <p>out of <strong><%= hawkercenter.stalls.count %></strong> stalls</p>
  <p> in <%= hawkercenter.name %></p>
  <p>(top <%= ((1 - (stall.rank_in_hawkercenter.to_f / hawkercenter.stalls.count.to_f))* 100).round %>%)</p>
</div>
