<div class='overall'>
  <div class="ordinalize-parent">
    <h1> <%= stall.rank_in_hawkercenter%></h1>
    <h3 class="ordinalize"><%= stall.rank_in_hawkercenter.ordinalize.last(2) %></h3>
  </div>
  <div class="overall-details">
    <p>out of <strong><%= hawkercenter.stalls.count %></strong> stalls</p>
    <p> in <%= hawkercenter.name %></p>
    <p>(top <%= ((1 - (stall.rank_in_hawkercenter.to_f / hawkercenter.stalls.count.to_f))* 100).round %>%)</p>
  </div>
</div>
