<%# Overall div holding the sidebar + Analytics content %>
<div
class='d-flex'
data-controller="dashboard">
  <%# sidebar %>
  <div class='sidebar'>
    <div class='sidebar-box sidebar-first'>
      <h3>Select Dish</h3>
    </div>
    <% @stall_dishes.each do |dish| %>
      <div
      class="sidebar-box sidebar-other"
      data-action="click->dashboard#display">
        <p><%= dish.name %></p>
      </div>
    <% end %>
    <div class="sidebar-last">
    </div>
  </div>

  <%# div for overall analytics + Item Spefific %>
  <div class='analytics-wrapper'>
    <%# div for overall analytics %>
    <div class='d-flex justify-content-around'>
      <%= render partial: 'overall_analytics', locals: {
        stall: @stall, stall_best_rank: @stall_best_rank,
        all_stalls_count: @all_stalls_count, percentage: @percentage }  %>
      <%= render partial: 'overall_hawkercenter_analytics', locals: {
        stall: @stall, hawkercenter: @hawkercenter, hawker_rank: @hawker_rank,
        hawker_count: @hawker_count
      } %>
    </div>

    <%# div for item specific analytics %>
    <div>
      <%# analytics for dish vs all dishes + dish vs others in the same dish category %>
      <div class='d-flex justify-content-around'>
        <%# dish vs all dishes %>
        <%= render 'item_analytics_rating' %>
        <%# dish vs others in the same category %>
        <%= render 'item_analytics_rating' %>
      </div>

      <%# analytics for dish price vs same category dishes price + dish flavour vs same dish category flavours %>
      <div class='d-flex justify-content-around'>
        <%# dish price vs same category dishes price %>
        <%= render 'item_analytics_price' %>
        <%# dish flavour vs same category dishes flavours %>
        <%= render 'item_analytics_flavor' %>
      </div>
    </div>

  </div>
</div>
