<%# Overall div holding the sidebar + Analytics content %>
<div class='d-flex'>
  <%# sidebar %>
  <div class='sidebar'>
    <div class='sidebar-box sidebar-first'>
      <h3>Select Dish</h3>
    </div>
    <% @dishes.each do |dish| %>
      <div class="sidebar-box sidebar-other">
        <p><%= dish.name %></p>
      </div>
    <% end %>
    <div class="sidebar-last">
    </div>
  </div>

  <%# div for overall analytics + Item Spefific %>
  <div class='analytics-wrapper'>
    <%# div for overall analytics %>
    <div class='d-flex justify-content-around'>
      <%= render 'overall_analytics'  %>
      <%= render partial: 'overall_analytics' %>
    </div>

    <%# div for item specific analytics %>
    <div>
      <%# analytics for dish vs all dishes + dish vs others in the same dish category %>
      <div class='d-flex justify-content-around'>
        <%# dish vs all dishes %>
        <%= render 'item_analytics_rating' %>
        <%# dish vs others in the same category %>
        <%= render 'item_analytics_rating' %>
      </div>

      <%# analytics for dish price vs same category dishes price + dish flavour vs same dish category flavours %>
      <div class='d-flex justify-content-around'>
        <%# dish price vs same category dishes price %>
        <%= render 'item_analytics_price' %>
        <%# dish flavour vs same category dishes flavours %>
        <%= render 'item_analytics_flavor' %>
      </div>
    </div>

  </div>
</div>
