<%# Overall div holding the sidebar + Analytics content %>
<div
class='d-flex'
data-controller="dashboard">
  <%# sidebar %>
  <div class='sidebar'>
    <div class='sidebar-box sidebar-first'>
      <p>Select Dish</p>
    </div>
    <% @stall.dishes.each do |dish| %>
      <div
      class="sidebar-box sidebar-other"
      data-action="click->dashboard#display"
      data-dashboard-id-value=<%= dish.id %>
      data-dashboard-target="dish">
        <p><%= dish.name %></p>
      </div>
    <% end %>
    <div class="sidebar-last">
    </div>
  </div>

  <%# div for overall analytics + Item Spefific %>
  <div class='analytics-wrapper'>
    <h2 style="text-align: center"><%= @dish.stall.name %></h2>

    <div class="analytics-wrapper-no-title">
      <h4>Overall Stall Performance</h4>
      <%# div for overall analytics %>
      <div class='d-flex justify-content-between overall-box'>

        <%= render partial: 'overall_analytics', locals: { stall: @stall }  %>
        <%= render partial: 'overall_hawkercenter_analytics', locals: {
          stall: @stall, hawkercenter: @hawkercenter
        } %>
      </div>
    </div>

    <%# div for item specific analytics %>
    <div data-dashboard-target="analytics">
      <%# analytics for dish vs all dishes + dish vs others in the same dish category %>
      <%= render partial: 'dashboards/dish_analytics_holder.html.erb', locals: { dish: @dish } %>
    </div>

  </div>
</div>
