<%# second div in index %>
<% if params[:query].present? && @dishes.length != 0%>
  <h2>Searching for <%= params[:query] %>...</h2>
<% elsif @dishes.length == 0 %>
  <h2>No query found... Please enter something else</h2>
<% else %>
  <div class="py-4 text-center">
    <h1>Be spoilt with your food choices!</h1>
    <h2>We have a million food flavors waiting for you!</h2>
  </div>
<% end %>

<div class="four-column-cards d-flex flex-wrap justify-content-around py-3">
      <% @dishes.each do |dish| %>
      <div class="col-5 p-2 card" style="position:relative;border-radius:20px">
        <div class="column-headers pt-2 px-3">
        <%= link_to dish, style:"text-decoration:none;color:black;" do %>
            <p><strong><%= dish.name[0..25] %></strong></p>
            <% end %>
            <div class="d-flex justify-content-between rankandstar">
                            <div class="stars-rank">
            <% sum = 0 %>
            <% dish.reviews.to_a.each {|review| sum += review.rating} %>
            <% avg_rating = sum/dish.reviews.length rescue 3%>
            <% (1..avg_rating).step(1).each do %>
                  <%= fa_icon("star solid",style:"color:gold") %>
                <% end %>
              </div>

              <div class="rank">
              <p>Rank <%= rand(4..200) %></p>
              </div>
            </div>
        </div>

        <img src="<%= dish.description  %>" alt="" class="img-fluid p-2" style="border-radius:20px">

        <%= render 'shared/flavor_buttons3x' %>
        <%=render 'shared/bookmark_review_icons', dish: dish %>
        </div>
        </div>

      </div>
      <% end %>

  </div>
