<%# second div in index %>
<% if params[:query].present? && dishes.length != 0%>
  <h2>Searching for <%= params[:query] %>...</h2>
<% elsif dishes.length == 0 %>
  <h2>No query found... Please enter something else</h2>
<% else %>
  <div class="py-4 text-center">
    <h1>Be spoilt with your food choices!</h1>
    <h2>We have a million food flavors waiting for you!</h2>
  </div>
<% end %>

<div class="four-column-cards d-flex flex-wrap justify-content-around py-3">
      <% dishes.each do |dish| %>
      <div class="col-5 p-2 card" style="position:relative;border-radius:20px">
        <div class="column-headers pt-2">
        <%= link_to dish, style:"text-decoration:none;color:black;" do %>
            <p style="font-size:0.7rem;"><strong><%= dish.dish_type %></strong></p>
            <% end %>
            <div class="d-flex justify-content-between rankandstar">
              <div class="stars-rank">

            <% (1..dish.score).step(1).each do %>
                  <%= fa_icon("star solid xs",style:"color:gold") %>
                <% end %>
              </div>

              <div class="rank">
               <% if [1 , 2, 3, 4].include? dish.rank %>
                  <% case dish.rank %>
                  <% when 1 %>
                    <%= image_tag "gold_medal.jpg"%>
                  <% when 2 %>
                    <%= image_tag "silver_medal.jpg"%>
                  <% when 3 %>
                    <%= image_tag "bronze_medal.jpg"%>
                  <% when 4 %>
                    <%= image_tag "fourth_place.png"%>
                  <% end %>
                 <% else %>
                  <p style="font-size:0.75em;line-height:2;">#<%= dish.rank %></p>
                <% end %>
              </div>
        </div>
        <div class="list-food-image mx-auto">
          <img src="<%= dish.image %>" alt="" class="img-fluid p-2" style="border-radius:20px">
          <div class="bookmark">
            <%= render 'shared/bookmark_review_icons', dish: dish %>
          </div>
        </div>
        <%= render 'shared/flavor_buttons3x', dish: dish %>

        </div>
        </div>

      </div>

  </div>
      <% end %>
