<div class="dish-show-container">
  <div class="left-side-container">
    <div class = "description-box">
      <div class = "dish-title">
        <h2><%=@dish.name%></h2>
      </div>
      <div class = "dish-description-text">
        <%=@dish.description%>
      </div>
    </div>
    <div class = "dish-individual-card">
      <div class = "dish-header">
      <div class ="dish-rank">
      <h5>Rank #</h5>
      </div>
      <div class ="dish-name-and-rating-card">
        <div class ="dish-name-card">
          <h5><%=@dish.name%></h5>
        </div>
        <div class = "dish-rating-card">
           <i class="fa-light fa-star"></i>
           <i class="fa-light fa-star"></i>
           <i class="fa-light fa-star"></i>
           <i class="fa-light fa-star"></i>
           <i class="fa-light fa-star"></i>
        </div>
      </div>
      </div>
      <div class ="dish-photo-card">
         <img src=<%= @dish.description rescue "https://asianinspirations.com.au/wp-content/uploads/2019/11/R1018-PisangGoreng-new-619x412.jpg" %> alt="" id="image">
          </div>
           <div class = "dish-flavor-mark">
        <div class = "dish-flavor-card">
          <div style="list-style-type: none" class="d-flex flex-row justify-content-center p-2">
              <span class="px-1 mx-1 btn pink-button" style="border-radius:20px;font-size:12px;">flavour</span>
              <span class="px-1 mx-1 btn pink-button" style="border-radius:20px;font-size:12px;">flavour</span>
              <span class="px-1 mx-1 btn pink-button" style="border-radius:20px;font-size:12px;">flavour</span>
                <%# Letting font awesome icon lead to creation/destruction of a bookmark %>
                <%= link_to dish_bookmarks_path(@dish) do %>
                  <%# font awesome icon +conditional. If user has bookmarked this item, color of icon is red%>
                   <div class ="bookmark">
              <% if Bookmark.where(user_id: (current_user.id rescue false ? current_user.id : nil) , dish_id: @dish.id).first.present? %>
                    <i class="fa-regular fa-bookmark fa-xl mx-1 red"></i>
                  <% else %>
                    <i class="fa-regular fa-bookmark fa-xl mx-1"></i>
                  <% end %>
                <% end %>
              </div>
              </div>
            </div>
        </div>
      </div>
    </div>

  <div class="review-right-side-container">
    <div class="review-submit-container">
        <div class="review-plea">
          <p>Enjoyed the Dish? Leave a review to show our hawkers your appreciation!<p>
        </div>
      <%= simple_form_for([@dish, @review]) do |f| %>
        <div class="form-inputs">
        <p>Rating<p>
        <%=f.collection_radio_buttons :rating, [[1, '1'] ,[2, '2'],[3, '3'],[4, '4'],[5, '5']], :first, :last%>
          <div class="d-flex gap-3">
            <%= f.input :photo, as: :file, label: "Upload An Image" %>
          </div>
             <%=f.simple_fields_for ([@review_flavor]) do |e|%>
             <%=  e.collection_check_boxes :flavor_id, Flavor.all, :id, :name %>
            <%end%>
          <%= f.input :comment, label: "Comment",
            input_html: { style: 'height: 200px'  } %>
        </div>
        <div class="form-actions">
          <%= f.button :submit, "Submit", class: "btn btn-primary"%>
        </div>

      <% end %>
    </div>
    </div>
</div>
