<!DOCTYPE html>
<html>
  <head>
    <title>Pbook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.1.1/css/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Font+Name">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
  <%= render 'shared/navbar' %>
  <%= render 'shared/flashes' %>
      <% if params[:controller] == "stalls"  && params[:action] == "index" %>
        <%= render 'shared/main_banner' %>
      <% elsif params[:controller] == "stalls" && params[:action] == "show" %>
        <%= render 'stalls/show/stall_banner' %>
      <% elsif params[:controller] == "dishes"  && params[:action] == "show" %>
        <%= render 'shared/dish_banner' %>
      <% end %>

      <% if current_page?(new_stall_path) %>
        <%= render 'stalls/banner_new_stall' %>
      <% end %>

      <div class="background">
       <%# <div class="container"> %>
         <%# <div class="row"> %>
           <%# <div class="col-12 mx-auto"> %>
            <%= yield %>
           <%# </div> %>
         <%# </div> %>
       <%# </div> %>
      </div>
  </body>
</html>
